* {
  font-family: Roboto, sans-serif;
  margin: auto;
}

.info {
  width: 100%;
  background-color: #2470c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.info:hover {
  background-color: #0b51a1;
}

.cerrar {
  background-color: #eb372a;
  color: white;
  padding: 7px 10px;
  margin-left: 210px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cerrar:hover {
  background-color: #be0d0d;
}

p {
  text-align: justify;
}

.cerrar:hover {
  background-color: #beeded;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container1{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

img {
  border-radius: 5px;
  width: 440px;
}

.card {
  border-radius: 5px;
  background-color: #9e9e9e4b;
  padding: 12px 15px;
  width: 18%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img{
  border-radius: 5px;
  width: 100%;
}
