.contadorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 29px;
  margin: 0 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

button {
  font-size: 29px;
  width: 50px;
  font-weight: bold;
}
