header{
    background-color:#252526;
    width: 100%;
    height: 60px;
    align-content: center;
    justify-content: left;
    
}

.navbar{
    height: 100%;
    width: 50%;
    display: flex;
}

.navbar button{
    flex: 1;
    height: 100%;
    text-align: center;
    background-color: #2d2d2d;
    border: none;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f1f1f1;
}

.navbar button:hover{
    background-color: #1e1e1e;
}



